<a href="https://colab.research.google.com/github/Harshavardhan2006/23CSBTB27-28/blob/main/Types_of_Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Part 1 â€“ Implement Basic Data Structures using Numpy, Panda

In [1]:
import numpy as np
list = {1,2,5,6,7}
list1 = [3,6,1,8]
print(list)
print(list1)
print(type(list1))
print(type(list))

{1, 2, 5, 6, 7}
[3, 6, 1, 8]
<class 'list'>
<class 'set'>

In [2]:
List = ["Geeks", "For", "Geeks"]
print("\nList Items: ")
print(List)
List2 = "My First Lab"
List3 = 4.3
List4 = 2j+6
List5 = 'My First Lab'
print(type(List))
print(type(List2))
print(type(List3))
print(type(List4))
print(type(List5))
print(List[0])
print(List[1])
print(List[2])

List Items:
['Geeks', 'For', 'Geeks']
<class 'list'>
<class 'str'>
<class 'float'>
<class 'complex'>
<class 'str'>
Geeks
For
Geeks

In [3]:
List = (1, 3, 5, 6, 7)
print(List)
print(type(List))

(1, 3, 5, 6, 7)
<class 'tuple'>

In [4]:

List = {1:"greek1", 2: 'Geeks', 'For':3, 'Geeks':6}
print("\nList with the use of Mixed Values: ")
print(List)
print(type(List))

List with the use of Mixed Values:
{1: 'greek1', 2: 'Geeks', 'For': 3, 'Geeks': 6}
<class 'dict'>